body{
    background-color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    margin: 0 auto;
    width: 70%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.trigger{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
blockquote{
    display: block;
    border-left: 4px solid;
    font-weight: 550;
    margin-left: 15px;
    color: darkred;
}
.sign{
    width: 100%;
    height: auto;
}
p.caption{
    margin-top: 0;
    color: grey;
}
.map{
    padding-top: 40px;
    padding-bottom: 40px;
}
.graph{
    padding-top: 40px;
    padding-bottom: 40px;
}
body {
    padding-top: 30px;
    padding-bottom: 30px;
}
.pic1{
    padding-top: 30px;
    padding-bottom: 20px;
}
.health{
    width: 100%;
    height: auto;
}
.pic2{
    padding-top: 30px;
    padding-bottom: 20px;
}
